.site-header {
    border-top:none;
    background-color: #3768e5;
}
.site-nav .page-link {
    color: white;
}
.site-title, .site-title:visited {
    color: white;
}
.site-title > span {
    font-weight:bolder;
}
.site-title > span {
    padding-left:10px;
    font-size:smaller;
}
