.site-header {
    border-top:none;
    background-color: #3768e5;
}
.site-title, .site-title:visited {
    color: white;
}
.site-title {
    font-weight: 700;
    line-height: 26px;
}
.site-title:hover {
    color: white;
    text-decoration: none;
    text-shadow: 6px 3px 6px #999;
}
.site-title > span {
    padding-left: 20px;
    font-size: 1.2rem;
    font-weight: normal;
}
@media screen and (min-width: 600px) {
    .site-nav .page-link {
        color: white;
    }
}
.site-nav .page-link:hover {
    text-decoration: none;
    text-shadow: 6px 3px 6px #999;
}
